<div class="container">
    <div class="jumbotron">
        <h1>One Wild Front Ear</h1>
        <h3>A place on the web to have a laugh and vote for your favorite joke.</h3>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel panel-heading text-center"> Here is the joke from whence our site takes its name</div> 
    <div class="panel panel-body text-center">
         How many ears does Davy Crockett have? Three. One left ear, one right ear, and one wild front ear!
    </div>
</div>

