@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

Please send any suggestions to the address below.

<address>
    <strong>Suggestions:</strong>   <a href="mailto:onewildfrontear@gmail.com">onewildfrontear@gmail.com</a>
</address>